* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

::-webkit-scrollbar {
    width: 1px;
    height: 1px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #4B6CB7, #182848);
}

button, .sendMsg-btn {
    border: 1px solid #000;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    padding: 10px;
    border-radius: 12px;
    color: #000;
    transition: 1s;
}

.sendMsg-btn {
    font-size: 12px;
}

button:hover {
    opacity: 0.6;
    transform: scale(1.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    width: 100%;
}

.button-container {
    display: flex;
}

    .button-container button {
        margin-right: 10px;
    }

.start-btn {
    padding-right: 12px;
}

.timer-start-icons{
    display:flex;
    flex-direction:row;
}

#timer {
    margin-left: 12px;
    border: 1px solid #000;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    padding: 10px;
    border-radius: 12px;
    color: #fff;
}

.game-title h3 {
    font-size: 35px;
    font-weight: 800;
}

.gaming-section {
   /* margin:5px 0 0 0;*/
    display: flex;
    flex: 1;
}

.game-controls {
    display: flex;
    flex-direction: column;
    width: 35vw;
}

.players-section {
    display: flex;
    width: 20vw;
    flex-direction: column;
    margin-left: 20px;
}

.game-controls {
    order: 2;
}

.players-section {
    order: 3;
}

.board, .players-section, .game-controls {
    padding: 1em;
}

.board {
    height: 78vh;
    width: 45vw;
    background-image: url("/images/board.png");
    background-repeat: no-repeat;
    background-size: contain;
    border: 5px solid #fff;
    border-radius: 5px;
    border: none;
    margin-left: 20px;
}


/*game card section css*/
.game-cards {
    height: 12vh;
    display: flex;
    flex-direction: row;
}

.game-cards img {
    transition: 1s;
    cursor: pointer;
}

.game-cards img:hover {
    transform: scale(1.1);
}

.card-img {
    flex: 1;
    border: 1px solid #fff;
    width: 140px;
}
/*game card section css*/

    /*Chat section css*/
    .chat-section {
        margin:100px 0 0 0;
        justify-content:center;
    }


.chat-messages {
    background-color: #0b2d39;
    color: #fff;
    border-radius: 10px;
    padding: 12px;
    height: 30vh;
}

.input-box input {
    background-color: #071e26;
    color: #fff;
    font-size: 18px;
    width: 100%;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 12px;
    margin-top: 15px;
}

.btn-input {
    display: flex;
}

.btn-input .input-btn {
    margin: 15px;
}

/*chat section css end*/

.rollBtn {
    background: lightblue;
    line-height: 1.5;
    width: 20%;
    font-size: 25px;
    font: 700 1.2rem 'poppins', sans-serif;
    letter-spacing: 0.05rem;
    cursor: pointer;
    margin-left: 100px;
    text-align: center;
}

.exit-btn{
    width: 110%;
}

.btn:hover {
    opacity: 0.6
}

.player {
    list-style: none;
    font-size: 20px;
    line-height: 40px;
}

.container-1, .container-2 {
    display: flex;
    flex-direction: column;
    line-height: 10vh;
}

circle {
    cursor: pointer;
    transition: 1s;
}

    circle:hover {
        transform: scale(1.1);
    }

.col-form-label {
    color: black;
}

.token-list{
    display:flex;
}


.dice-container{
    display:flex;
    margin: 50px 0 10px 0;
    justify-content:center;
}
