@page
@model IndexModel
@{
    ViewData["Title"] = "游戏首页";
}

<div style="display:inline">
    <h1>游戏名称：</h1> <h1 id="game-name"></h1>
</div>

<div class="gaming-section">
    @*board*@
    <div class="board">
        <div class="game-board"></div>
    </div>

    @*game card*@
    <div class="game-controls">
        <div class="game-cards">
            <img src="images/card1.png" alt="card1" class="card-img">
            <img src="images/card2.png" alt="card1" class="card-img">
            <img src="images/card3.png" alt="card1" class="card-img">
        </div>

        @*Die rolling*@
        <div class="dice-container">
            <div class="dice">
                <img id="diceResult" src="~/images/dice/dice1.png" width="20%" height="10%"/>
            </div>
            <button class="rollBtn" id="roll-button">Roll</button>
        </div>

        @*Chat section*@
        <div class="chat-section">
            <div class="message-box">
                @*Chat area*@
                <div class="chat-messages">
                    <ul id="messagesList"></ul>
                </div>
                <!-- Chat Input -->
                <div class="input-box">
                    <input type="text" id="messageInput" placeholder="Enter your text">
                </div>

            </div>
            <div>
                <input type="button" id="sendChatMsgButton" value="发送消息" />
            </div>
        </div>
    </div>
    
    <div class="players-section">
        @*Player list*@
        <div class="players-list">
            <h3>Current Players:</h3>
            <ul id="player-list">
            </ul>
 
        </div>

        @*tokens*@
        <div class="token-list">
            <div class="container-1">
                <svg height="100" width="100">
                    <circle cx="50" cy="50" r="20" stroke="black" stroke-width="3" fill="red" />
                </svg>

                <svg height="100" width="100">
                    <circle cx="50" cy="50" r="20" stroke="black" stroke-width="3" fill="yellow" />
                </svg>

                <svg height="100" width="100">
                    <circle cx="50" cy="50" r="20" stroke="black" stroke-width="3" fill="brown" />
                </svg>
            </div>
           
            <div class="container-2">
                <svg height="100" width="100">
                    <circle cx="50" cy="50" r="20" stroke="black" stroke-width="3" fill="green" />
                </svg>

                <svg height="100" width="100">
                    <circle cx="50" cy="50" r="20" stroke="black" stroke-width="3" fill="grey" />
                </svg>

                <svg height="100" width="100">
                    <circle cx="50" cy="50" r="20" stroke="black" stroke-width="3" fill="purple" />
                </svg>
            </div>
        </div>
    </div>

    <div class="timer">
        <span id="timer">4:00</span>
    </div>
</div>

<div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
                            <label for="game-name" class="col-form-label">游戏名称:</label>
            <input type="text" class="form-control" id="game-name">
          </div>
          <div class="mb-3">
                            <label for="player-name" class="col-form-label">玩家名称:</label>
            <textarea class="form-control" id="player-name"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" id="first-player-save-btn" data-bs-dismiss="modal">保存进入游戏</button>
      </div>
    </div>
  </div>
</div>


    <div class="modal fade" id="joinGameModal" tabindex="-1" aria-labelledby="joinGameModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="joinGameModalLabel">New message</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="join-game-player-name" class="col-form-label">玩家名称:</label>
                            <textarea class="form-control" id="join-game-player-name"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="player-save-btn" data-bs-dismiss="modal">保存进入游戏</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

